/* standard global reset + global font-family */
* {
  margin: 0em;
  padding: 0em;
  font-family: 'acumin-pro', sans-serif;
}

/* forces scroll instead of table collapsing */
body {
  overflow-x: scroll;
}

/* collapse default spacing between td elements */
table {
  border-collapse: collapse;
  position: absolute;
  white-space: nowrap;
}

/* set base cell style */
td, th {
  border: 1px transparent dotted;
  color: #222222;
  background-color: transparent;
  padding: .625em .375em;
  font-size: .75em;
  min-width: 4em;
  height: .875em;
}

/* set style for header row and column */
th {
  color: white;
  background-color: black;
  text-align: center;
  font-weight: 300;
  border: 1px white solid;
}

/* hover effect on td elements 
   the rest is in hover.js */
.highlight {
  border: 1px solid black;
}
td:hover {
  color: white;
  background-color: black;
}

/* img on click management */
img {
  display: none;
  width: 100%;
  max-width: 30em;
  position: absolute;
  box-shadow: 10px 10px 10px rgba(0,255,0,.5);
  background-color: white;
}

/* animated banner */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
ul {
  overflow: hidden;
  width: 500%;
  position: fixed;
  bottom: 0em;
}
li {
  list-style: none;
  display: inline-block;
  padding: 0em .5em;
  color: black;
  font-weight: 700;
  font-size: 2em;
}

/* styles for animated banner */
.style-a {
  color: white;
  background-color: black;
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 100;
  font-style: italic;
}
.style-b {
  color: black;
  background-color: white;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 800;
  font-style: italic;
  text-decoration: line-through;
}
.style-c {
  color: white;
  background-color: black;
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.style-d {
  color: black;
  background-color: white;
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-weight: 900;
  font-style: italic;
}
.style-e {
  color: white;
  background-color: black;
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-weight: 600;
  font-style: italic;
}
.style-f {
  color: black;
  background-color: white;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.style-g {
  color: white;
  background-color: black;
  font-family: 'acumin-pro-wide', sans-serif;
  font-weight: 500;
  font-style: italic;
}
.style-h {
  color: black;
  background-color: white;
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: line-through;
}